<h2 class= 'text-center text-secondary'>Buildings <%= @building.name %></h2> 

<div class="text-center">
  <%=link_to 'Show departments', building_apartments_path(@building.id), class: 'btn btn-light'%>
  <%=link_to 'New apartment', new_building_apartment_path(@building.id), class: 'btn btn-light'%>
</div>
<br>
<div class="text-left">
  <%=link_to 'Back', buildings_path, class: 'btn btn-secondary'%>
</div>
