<h1 class= 'text-center text-secondary'>Apartments <%= @apartment.number %> of <%= @building.name %> </h1>

<div class="text-left">
  <td><%=link_to 'Back', building_apartments_path(@building.id), class: 'btn btn-secondary'%></td>
</div>